<div class="header">

  <button *ngIf="collapsed" mat-icon-button aria-label="Déplier" (click)="uncollapse()">
    <mat-icon>chevron_right</mat-icon>
  </button>

  <button *ngIf="!collapsed" mat-icon-button aria-label="Replier" (click)="collapse()">
    <mat-icon>expand_more</mat-icon>
  </button>

  <div class="summary cursor-pointer flex-grow-1" (click)="collapsed = !collapsed">
    <span class="titre">{{acte.objet}}</span>
    <br>
    <span class="sous-titre">
        Émis le {{acte.date_acte | date:'shortDate'}}, publié le {{acte.date_publication | date:'shortDate'}}
    </span>
  </div>

  <div class="header-actions">
    <ng-container *ngIf="acte.url">
      <a mat-icon-button matTooltip="Aperçu" matTooltipPosition="above" aria-label="Aperçu" [href]="acte.url" target="_blank">
        <mat-icon class="icon">visibility</mat-icon>
      </a>
      <button mat-icon-button matTooltip="Copier le lien du document"
              matTooltipPosition="above" aria-label="Copier le lien du document" disabled>
        <mat-icon class="icon">link</mat-icon>
      </button>
      <button mat-icon-button matTooltip="Télécharger" matTooltipPosition="above"
              aria-label="Télécharger" disabled>
        <mat-icon class="icon">download</mat-icon>
      </button>
    </ng-container>
  </div>
</div>

<div
  class="content mt-m d-flex flex-column g-m"
  [@collapsed]="collapsed ? 'closed' : 'open'"
>
  <div>
    <span><strong>Type de document:</strong> {{acte.type | appTypeActe}}</span> <br>
    <span><strong>Classification:</strong> {{acte.classification_code}} {{acte.classification_libelle}}</span> <br>
    <span><strong>Siren:</strong> {{acte.siren}}</span> <br>
  </div>

  <div class="annexes d-flex flex-column g-m" *ngIf="acte.annexes.length">
    <strong>Annexes liées au document ({{acte.annexes.length}})</strong>

    <div class="annexe" *ngFor="let annexe of acte.annexes">
      <mat-icon>description</mat-icon>
      <div class="flex-grow-1">{{annexe.objet}}</div>

      <div class="annexe-actions">
        <button mat-icon-button matTooltip="Aperçu" matTooltipPosition="above"
                aria-label="Aperçu" disabled>
          <mat-icon class="icon">visibility</mat-icon>
        </button>
        <button mat-icon-button matTooltip="Copier le lien du document"
                matTooltipPosition="above" aria-label="Copier le lien du document" disabled>
          <mat-icon class="icon">link</mat-icon>
        </button>
        <button mat-icon-button matTooltip="Télécharger" matTooltipPosition="above"
                aria-label="Télécharger" disabled>
          <mat-icon class="icon">download</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>
