<ng-container *ngIf="acte else skeleton">
  <div class="header">
    <button
      type="button"
      mat-icon-button
      [attr.aria-label]="collapsed ? 'Déplier' : 'Replier'"
      (click)="collapsed = !collapsed"
    >
      <mat-icon [@rotate]="collapsed ? 'right' : 'down'">chevron_right</mat-icon>
    </button>

    <div class="summary cursor-pointer flex-grow-1" (click)="collapsed = !collapsed">
      <span class="titre">
        {{acte.objet}}
        <mat-icon
          *ngIf="!acte.resultat_recherche"
          [inline]="true"
          fontSet="material-icons-outlined"
          class="flex-shrink-0 vertical-align-bottom"
          matTooltip="Ce document ne correspond pas aux critères recherchés, il est inclus dans les résultats car au moins une annexe rattachée fait partie des résultats"
        >
          info
        </mat-icon>
      </span>
      <br>
      <span class="sous-titre">
        Décision du {{acte.date_acte | date:'shortDate'}}, publié le {{acte.date_publication | date:'shortDate'}}
    </span>
    </div>

    <app-document-actions [document]="acte"></app-document-actions>
  </div>

  <div
    class="content mt-m d-flex flex-column g-m"
    [@collapsed]="collapsed ? 'closed' : 'open'"
  >
    <div>
      <span><strong>Type de document&nbsp;:</strong> {{acte.type | appTypeActe}}</span> <br>
      <span><strong>Classification&nbsp;:</strong> {{acte.classification_code}} {{acte.classification_libelle}}</span> <br>
      <span *ngIf="!hideSiren"><strong>Siren&nbsp;:</strong> {{acte.siren}}</span> <br>
    </div>

    <div class="annexes d-flex flex-column g-m" *ngIf="acte.annexes.length">
      <strong>{{acte.annexes.length}} {{acte.annexes.length | appPlural:'annexe liée':'annexes liées'}} au document</strong>

      <div class="annexe" *ngFor="let annexe of acte.annexes">
        <mat-icon class="flex-shrink-0">description</mat-icon>
        <div class="flex-grow-1">
          Annexe {{(acte.annexes.length > 1) ? annexe.index_annexe + 1 : ''}}
          <mat-icon
            *ngIf="!annexe.resultat_recherche"
            [inline]="true"
            fontSet="material-icons-outlined"
            class="flex-shrink-0 vertical-align-bottom"
            matTooltip="Cette annexe ne correspond pas aux critères recherchés, elle est incluse car l'acte auquel elle est rattachée fait partie des résultats"
          >
            info
          </mat-icon>
        </div>
        <app-document-actions [document]="annexe" iconClass="small-icons"></app-document-actions>
      </div>
    </div>
  </div>

  <span
    [@collapsed]="collapsed ? 'open' : 'closed'"
    *ngIf="acte.annexes.length"
    (click)="collapsed = !collapsed"
    class="content mt-m d-inline-block cursor-pointer"
  >
      <strong>+ {{acte.annexes.length}} {{acte.annexes.length | appPlural:'annexe liée':'annexes liées'}} au document</strong>
    </span>
</ng-container>

<ng-template #skeleton>
  <div class="header">
    <div class="summary">
      <span class="titre">&nbsp;</span>
      <br>
      <span class="sous-titre">&nbsp;</span>
    </div>
  </div>
</ng-template>
