@use '../../../couleurs';

$marge-gauche: 3em;
$couleur-sous-titre: #41475D;

//
:host {
  background-color: couleurs.$opendata-marqueblanche-fond-1;
  border-radius: .4em;
}

// header
.header {
  display: flex;
  align-items: center;
}

.header .summary .sous-titre {
  font-weight: lighter;
  color: $couleur-sous-titre;
}

// Marge à gauche pour chaque item
.header > button {
  min-width: $marge-gauche;
  min-height: $marge-gauche; // Afin que le bouton soit rectangulaire
}

.content {
  margin-left: $marge-gauche;
}

// annexes
.annexe {
  display: flex;
  background-color: couleurs.$opendata-marqueblanche-fond-2;
  padding: .5em;
  border-radius: .4em;
  align-items: center;
}
