<ngx-extended-pdf-viewer
  class="flex-1"
  *ngIf="pdfUrl"
  [src]="pdfUrl"

  [showToolbar]="true"
  [showSidebarButton]="true"
  [showFindButton]="true"
  [showPagingButtons]="false"
  [showZoomButtons]="true"
  [showPresentationModeButton]="false"
  [showOpenFileButton]="false"
  [showPrintButton]="false"
  [showDownloadButton]="false"
  [showBookmarkButton]="false"
  [showSecondaryToolbarButton]="false"
  [showRotateButton]="false"
  [showHandToolButton]="false"
  [showScrollingButton]="false"
  [showSpreadButton]="false"
  [showPropertiesButton]="true"
  [textLayer]="true"

  [useBrowserLocale]="true"
  [showUnverifiedSignatures]="true"
  (pagesLoaded)="onPagesLoad($event)"
></ngx-extended-pdf-viewer>
