@import "./spacing";
@import "./centered-stack";
@import "./overlay";

.sub-section {
  margin-bottom: 1rem;
}

.columns-sm {
  column-width: 15rem;
}

.d-flex {
  display: flex;
}

.d-none {
  display: none !important;
}

.h-100 {
  height: 100%;
}

.w-100 {
  width: 100%;
}

.min-h-0 {
  min-height: 0;
}

.flex-column {
  flex-direction: column;
}

.flex-grow-1 {
  flex-grow: 1;
}

.overflow-auto {
  overflow: auto;
}

[hidden] {
  display: none !important;
}
