/**
 * Style pour le champ de recherche.
 */
.search-field {
  .mat-form-field-wrapper {
    padding-bottom: .5rem;
  }

  .mat-form-field-flex {
    padding: 0 .5em 0 1em !important;
  }

  .mat-form-field-outline {
    background-color: var(--theme-color-bg-3);
    border-radius: 28px;
  }

  .mat-form-field-outline-thick {
    color: rgba(0, 0, 0, 0.12);
  }

  &.mat-focused .mat-form-field-outline-thick {
    color: var(--theme-color-primary);
  }

  .mat-form-field-outline-start {
    border-radius: 28px 0 0 28px !important;
    min-width: 28px !important;
  }

  .mat-form-field-outline-end {
    border-radius: 0 28px 28px 0 !important;
  }

  .mat-form-field-suffix > button:last-child {
    margin-left: 0.25rem;
  }

  .mat-form-field-suffix {
    color: var(--theme-color-text-secondary);
  }

  .mat-mini-fab {
    box-shadow: unset;
    background-color: var(--theme-color-primary);
  }
}
