<app-search-list
  [class.flex-grow-1]="!showPdfViewer"
  [class.sidebar-search-list]="showPdfViewer"
></app-search-list>

<div *ngIf="showPdfViewer" class="flex-grow-1 d-flex flex-column g-m">
  <ng-container *ngIf="store.selectedDocument$ | async as doc">
    <div>
      <h2 class="mat-headline-1">
        {{doc.objet + (($any(doc).index_annexe !== undefined) ? (', annexe ' + ($any(doc).index_annexe + 1)) : '')}}
      </h2>
      <p>
        Décision du {{doc.date_acte | date:'shortDate'}}, publié le {{doc.date_publication | date:'shortDate'}}
      </p>
    </div>
    <app-pdf-viewer
      class="flex-grow-1 min-h-0"
      [pdfUrl]="doc.url"
      [highlightedText]="(store.searchParams$ | async)?.query"
    ></app-pdf-viewer>
  </ng-container>
</div>
