<form #form="ngForm" (ngSubmit)="validate(form)">
  <div mat-dialog-title class="d-flex justify-content-space-between">
    <h2>Affiner votre recherche</h2>
    <button
      type="button"
      mat-icon-button
      mat-dialog-close
      aria-label="Fermer"
      matTooltip="Fermer"
    >
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <mat-dialog-content>
    <div class="sub-section">
      <h3>Date de publication</h3>

      <div class="mb-m">
        <mat-checkbox
          class="checkbox-text-wrap"
          name="publications_en_cours"
          [(ngModel)]="updatedParams.publications_en_cours"
          (ngModelChange)="updatePublicationEnCours($event, form, debut, fin)"
        >
          Afficher les publications en cours (datant de moins de 60 jours)
        </mat-checkbox>
      </div>

      <div class="d-flex flex-wrap g-column-m align-items-center date-bar">
        <mat-form-field appearance="fill">
          <mat-label>Début</mat-label>
          <input
            matInput
            [matDatepicker]="startPicker"
            name="date_debut"
            [(ngModel)]="updatedParams.date_debut"
            [disabled]="updatedParams.publications_en_cours"
            #debut="ngModel"
          >
          <button
            *ngIf="updatedParams.date_debut"
            type="button"
            matSuffix
            mat-icon-button
            aria-label="Effacer"
            matTooltip="Effacer"
            (click)="updatedParams.date_debut = undefined"
            [disabled]="updatedParams.publications_en_cours"
            [matTooltipDisabled]="updatedParams.publications_en_cours"
          >
            <mat-icon>close</mat-icon>
          </button>
          <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
          <mat-datepicker #startPicker></mat-datepicker>
          <mat-error *ngIf="debut.hasError('matStartDateInvalid')">Date invalide</mat-error>
        </mat-form-field>

        <div class="mb-m">et</div>

        <mat-form-field appearance="fill">
          <mat-label>Fin</mat-label>
          <input
            matInput
            [matDatepicker]="endPicker"
            [min]="updatedParams.date_debut"
            name="date_fin"
            [(ngModel)]="updatedParams.date_fin"
            [disabled]="updatedParams.publications_en_cours"
            #fin="ngModel"
          >
          <button
            *ngIf="updatedParams.date_fin"
            type="button"
            matSuffix
            mat-icon-button
            aria-label="Effacer"
            matTooltip="Effacer"
            (click)="updatedParams.date_fin = undefined"
            [disabled]="updatedParams.publications_en_cours"
            [matTooltipDisabled]="updatedParams.publications_en_cours"
          >
            <mat-icon>close</mat-icon>
          </button>
          <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
          <mat-datepicker #endPicker></mat-datepicker>
          <mat-error *ngIf="fin.hasError('matEndDateInvalid')">Date invalide</mat-error>
          <mat-error *ngIf="fin.hasError('matDatepickerMin')">La date de fin doit se trouver après le début
          </mat-error>
        </mat-form-field>
      </div>
    </div>

    <div class="sub-section">
      <h3>Classification</h3>

      <div class="columns-sm">
        <div *ngFor="let check of classifications | keyvalue">
          <mat-checkbox
            class="checkbox-text-wrap"
            [checked]="updatedParams.classifications?.has($any(check.key))"
            (change)="toggleElement(updatedParams.classifications, check.key)"
          >
            {{check.value}}
          </mat-checkbox>
        </div>
      </div>
    </div>

    <div class="sub-section">
      <h3>Type d'acte</h3>

      <div class="columns-sm">
        <div *ngFor="let check of typesActe | keyvalue">
          <mat-checkbox
            class="checkbox-text-wrap"
            [checked]="updatedParams.types_actes?.has($any(check.key))"
            (change)="toggleElement(updatedParams.types_actes, check.key)"
          >
            {{check.value}}
          </mat-checkbox>
        </div>
      </div>
    </div>

  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button color="primary" type="submit">Appliquer les filtres</button>
  </mat-dialog-actions>
</form>
