<form ngForm (ngSubmit)="search.emit(searchParams)">
  <div class="d-flex align-items-center">
    <mat-form-field appearance="fill" class="flex-grow-1">
      <input
        matInput
        type="search"
        name="query"
        [(ngModel)]="searchParams.query"
        placeholder="Entrez les termes à rechercher"
        autofocus
      >
      <button
        *ngIf="searchParams.query"
        matSuffix
        mat-icon-button
        aria-label="Effacer"
        matTooltip="Effacer"
        (click)="searchParams.query = ''"
      >
        <mat-icon>close</mat-icon>
      </button>
      <button matSuffix mat-icon-button type="button" (click)="openAdvancedParamsDialog()"
              matTooltip="Paramètres avancés">
        <mat-icon>tune</mat-icon>
      </button>
      <button matSuffix mat-mini-fab color="primary" type="submit" matTooltip="Lancer la recherche">
        <mat-icon matSuffix>search</mat-icon>
      </button>
    </mat-form-field>
  </div>

  <ng-container *ngIf="filters | async as filterArray">
    <app-search-filter-list [filters]="filterArray" (removeFilter)="removeFilter($event)"></app-search-filter-list>
  </ng-container>
</form>
