<form #searchForm="ngForm" (ngSubmit)="search(searchForm, $event)">
  <div class="d-flex align-items-center">
    <mat-form-field appearance="fill" class="flex-grow-1">
      <input matInput type="search" name="query" [(ngModel)]="searchParams.query">
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
    <button mat-icon-button type="button" (click)="openAdvancedParamsDialog()">
      <mat-icon>tune</mat-icon>
    </button>
  </div>

  <app-search-filter-list></app-search-filter-list>
</form>
