<div
  *ngIf="acteData"
  class="min-h-0 h-100 overflow-auto d-flex flex-column g-m pr-m"
  infiniteScroll
  [infiniteScrollDistance]="2"
  [infiniteScrollThrottle]="50"
  [scrollWindow]="false"
  [fromRoot]="true"
  (scrolled)="dataSource.loadNextPage()"
  #scrollContainer
>
  <app-acte-item
    *ngFor="let acte of acteData.items; trackBy: idTrackBy"
    [acte]="acte"
    [collapsed]="true"
  ></app-acte-item>

  <ng-container *ngIf="acteData.loading">
    <app-acte-item></app-acte-item>
    <app-acte-item></app-acte-item>
    <app-acte-item></app-acte-item>
  </ng-container>

  <div *ngIf="acteData.searchLaunched && !acteData.loading && acteData.items.length === 0">
    <p>Aucun document n'a été trouvé.</p>
    <p>Vérifiez les termes de recherche et/ou les filtres appliqués.</p>
  </div>
</div>
